<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Voting System</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
</head>
<body>

    <div class="container">

        <div id="vlogo">

            <a href="/OnlineVotingSystem">
            <img src="{{url_for('static',filename='images/vote4.png')}}" style="width: 100px; height: 100px ;" alt="">
            </a>

        </div>

        <div id="vtitle" >
 
            <h1 style="padding-top: 10px ;">Online Voting System</h1>

        </div>

    </div>

    <div class="mainc">

           <div id="paragraph">
            
            <p id="text" >

                <span style="color: rgba(255, 255, 255, 0);">.......</span> Voting is a democratic process where eligible individuals express their preference or choice on a particular issue or for selecting a representative. In elections, voting allows citizens to participate in decision-making by choosing candidates for public office. It is a fundamental right in democratic societies and is essential for maintaining a representative government.
                <br><br><span style="color: rgba(255, 255, 255, 0);">...........</span> 
                <span style="font-weight: bold ;">"Voting is the voice of the people"</span>
            </p>

           </div>

           <div id="vote_img">

            <img src="{{url_for('static',filename='images/vote3.png')}}" alt="vote_img">

           </div>

           <div id="paragraph2">

            <p id="text2" style="padding-top: 0px ;">
                "In a democracy, voting is not just a right, but a responsibility, as it empowers citizens to shape the future of their community, region, or country. Each ballot cast represents a voice, a choice, and a commitment to participating in the decision-making process that governs our society. Through voting, individuals can advocate for their values, support candidates who represent their interests, and contribute to the collective well-being of their fellow citizens. It is a powerful tool for change, ensuring that the government reflects the will of the people and upholds the principles of democracy."
            </p>

           </div>

           <div id="vote_gif">

            <img src="{{url_for('static',filename='images/vote.png')}}" style="width: 400px; height: 400px; padding-top: 40px ;" alt="voters">


           </div>

           <div id="list" >

            
                <lu >
                    <li id="t">Representation: Voting allows citizens to elect representatives who will voice their concerns, interests, and values in the decision-making process. It ensures that the government reflects the will of the people it serves</li>
                    <li id="t">Accountability: Through voting, citizens hold elected officials accountable for their actions and policies. It provides an opportunity to reward politicians who have performed well and to replace those who have not met the expectations of their constituents.</li>
                    <li id="t">Influence on Policies: By participating in elections, voters have a say in shaping public policies, laws, and regulations. It allows them to influence issues that affect their lives, such as healthcare, education, and economic policies.</li>
                    
                </lu>
        


          
           </div>

           <div id="details"> 
            
            <h3 id="text2">Voting Rights in India : </h3>

            <p id="normalp">
                <span style="color: rgba(240, 248, 255, 0);">.......</span>
                With elections under way in many states of India, all Indian citizens who are eligible to vote are given a chance to exercise their franchise and participate in the electoral process. The Indian Constitution has granted the right to vote to all Indian citizens of sound mind above the age of 18, irrespective of an individual's caste, religion, social or economic status. This right is universally granted to all Indians, with a few exceptions.
            
                <br><br>  

               

                As a voter, you are entitled to certain rights and privileges as laid down by the Constitution, which safeguards the rights of the voter. It also lays down the conditions under which this privilege is granted to citizens. Voting is not a fundamental right, but is a legal right granted to citizens.
            
                <br><br>     
               
                So what are the rights granted to voters in India? Given below are some of right and duties of voters.

            </p>

            <h3 id="text2">Who Can Vote ?</h3>

            <p id="normalp">

                

                As per the Indian Constitution, all Indian citizens above the age of 18 years who have registered themselves as voters are eligible to vote. These individuals can vote in national, state, district as well as local government body elections.

                <br><br>

                

                No individual can be detained or prevented from voting, unless they fulfil the criteria for disqualification.

                <br><br>

                

                Every voter is allowed one vote only. A voter can vote at the constituency where he has registered himself only.

                <br><br>

                

                Eligible voters have to register themselves in the constituency where they live, upon which they will be issued photo election identity cards (also known as EPIC cards). Individuals are not permitted to participate in the electoral process if they have not registered or do not possess a voter ID card.

                <br><br>

                <h3 id="text2">Any citizen may cast a vote in any of the upcoming elections as long as they have a valid voter ID: </h3>

                <ul>
                    <li>National-level elections</li>
                    <li>State-level elections</li>
                    <li>District-level elections</li>
                    <li>Local government body elections</li>
                    
                </ul>


            </p>

            <h3 id="test2">Disqualification from Voting Process :</h3>

            <p id="normalp">

                The Indian Constitution has laid down the following rules regarding disqualification of voters from the election process:

                <ul style=" font-size: large;">
                    <li>Individuals who are convicted of offences committed under Section 171E (which deals with bribery) and Section 171F (which deals with personation or undue influence at an election) of the Indian Penal Code are disqualified from participating in elections.</li>
                    <li>Those convicted of offences under Section 125 (which deals with various electoral offences), Section 135 and Section 136 of the Representation of People's Act face disqualification from elections.</li>
                    <li>If an individual votes in more than one constituency, his vote is disqualified.</li>
                </ul>

            </p>


            <h3 id="text2">Voting Rights : </h3>
            <p id="normalp">

                

                Below are some of the rights of voters as granted and safeguarded by the Indian Constitution. 

                <br><br>

                Right to Know:

                <br><br>

                All voters have the right to know about the candidates who are contesting for the elections. This right has been granted to voters under Section 19 of the Indian Constitution. This Section empowers voters to seek information pertaining to the election manifesto of the candidates, their total financial worth as also their criminal record, if any.
                
                <br><br>

                Right Not to Vote (NOTA):

                <br><br>

                Voters have been granted the right not to vote, which is recorded in the system. Also known as a NOTA (None of the above) vote, the voter participates in the election but chooses not to vote for any of the candidates contesting the elections.

                <br><br>

                In this way, voters are participating in the electoral process and exercising their right to choose if they wish to vote for the candidates contesting or not.

                <br><br>
                
                Special Assistance to Infirm and Illiterate Voters:
                As per the guidelines of the Election Code, voters who are unable to cast their votes due to physical disability or other such infirmity and can't cast their vote through postal ballot, can take the assistance of an electoral officer, who will record their vote.

                <br><br>

                NRI and Prisoner Voting Rights:

                <br><br>

                An NRI (Non Resident Indian) was not permitted to vote until recently. However an amendment was made in 2010 which allows NRI's to register themselves as voters and vote in elections, even if they have not been in the country for over 6 months for any reason.

                Prisoners are not permitted to exercise their franchise as per the current law.

                <br><br>

                Tendered Votes:

                <br><br>

                This applies to an individual who declares himself a voter and seeks to cast his vote when a vote has already been cast in his name. In such a case the individual can cast his vote if he can provide proof as to his identity. His vote will be recorded on a separate ballot paper as decided by the Election Commission.

            </p>



           </div>


           <div class="mainv">

            <div id="v1">

                <img  src="{{url_for('static',filename='images/raise-hand.png')}}" style="width: 100px ; height: 100px ;  margin-top: 20px; " alt="vote_img">

                <p style="padding-left: 20px ; padding-right: 20px ; font-weight: bold;">"A politician thinks of the next election. A statesman, of the next generation."</p>

                

            </div>

            <div id="v2">

                <img  src="{{url_for('static',filename='images/ballot.png')}}" style="width: 100px ; height: 100px ;  margin-top: 20px; " alt="vote_img">

                <p style="padding-left: 20px ; padding-right: 20px ; font-weight: bold;">"A man without a vote is a man without protection."</p>

            </div>

            <div id="v3">

                <img  src="{{url_for('static',filename='images/elections.png')}}" style="width: 100px ; height: 100px ;  margin-top: 20px; " alt="vote_img">

                <p style="padding-left: 20px ; padding-right: 20px ; font-weight: bold;">"We do not have government by the majority. We have government by the majority who participate."
                </p>                
            </div>

           </div>

           <div class="link">
               <a href="/OnlineVotingSystem/login">
                 <button id="button">
                           <h1>VOTE</h1> 
                 </button>

                </a>

                 <p id="btext">"Democracy is the only system that persists in asking the powers that be whether they are the powers that ought to be."</p>
           </div>

    </div>


   
    
</body>
</html>