<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vote</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles2.css')}}">
</head>
<body>

    <div class="container">

        <div id="vlogo">

            <a href="/OnlineVotingSystem">
            <img src="{{url_for('static',filename='images/vote4.png')}}" style="width: 100px; height: 100px ;" alt="">
            </a>

        </div>

        <div id="vtitle" >
 
            <h1 style="padding-top: 10px ;">Online Voting System</h1>

        </div>

    </div>

    <div class="mainc">

           <div id="details">

                 <div id="photo">

                    <div id="logo">
                       
                        <img src="{{url_for('static',filename='images/profile3.png')}}" alt="profile" width="150px" height="150px" >

                    </div>

                    <p >User Profile</p>

                 </div>

                 <div id="text">


                    <p id="t">EPIC ID : {{vi}} </p>
                    <p id="t">Name   <span style="color: rgba(0, 255, 255, 0);">..</span> : {{nm}} </p>
                    <p id="t">Gender <span style="color: rgba(0, 255, 255, 0);">.</span>: {{gn}} </p>
                    <p id="t">Age    <span style="color: rgba(0, 255, 255, 0);">...</span> : {{ag}} </p>
                    <p id="t">Mobile  <span style="color: rgba(0, 255, 255, 0);">.</span>: {{mo}} </p>
                    <p id="at">Address  : {{ad}} </p>

                 </div>

           </div>

           <h2 id="hrt">Hello! {{ nm }} Welcome To Online Voting System.</h2>

           <hr style="margin-top: 100px ; border-color: rgba(255, 255, 255, 0.192) ; border-width: 1px ; width: 90% ;">

           <h1 id="hd">Candidates Details</h1>

           <hr style="margin-top: 30px ; border-color: rgba(255, 255, 255, 0.192) ; border-width: 1px ; width: 90% ; margin-bottom: 40px ;">


           <h2 style="color: white; margin-left: 80px ;">Candidate : 1 </h2>

           <div id="cd1">

           

           <div id="c1">
        
            <div id="cid">

                <img src="{{url_for('static',filename='images/profile3.png')}}" width="100px" height="100px" >

            </div>
            <hr style="margin-top: 30px ; border-color: rgba(255, 255, 255, 0.192) ; border-width: 1px ; width: 80% ; margin-bottom: 20px ;">


            <p id="it">Name  <span style="color: rgba(255, 255, 255, 0);">..</span>: VELUCHAMY P </p>
            <p id="it">Age <span style="color: rgba(255, 255, 255, 0);">...</span>: 57 </p>
            <p id="it">Gender : Male</p>
            <p id="it">State <span style="color: rgba(255, 255, 255, 0);">.</span>: Tamil Nadu</p>


           </div>

           <p id="ttext">Political Experience: <br><br>
            Served multiple terms as a Member of Parliament (MP), representing a diverse constituency.
            Held key positions within their political party, demonstrating leadership and organizational skills.<br><br>
            Administrative Experience: <br><br>
            Successfully managed government departments at both central and state levels.
            Spearheaded initiatives to improve governance efficiency and service delivery.<br><br>
            Educational Background:<br><br>
            Holds a post-graduate degree in Political Science with a focus on public policy.
            Completed additional courses in diplomacy and international relations.</p>

        </div>

         <div id="linkbox">
            
            <div id="link">

                <h3 id="it" style="text-align: left; padding-top: 5px  ; text-align: center;">Click! The Vote Button To Vote </h3>


            </div>

            <div id="lb">

                <form action="/c1" method="post">           
                    <input id="button" type="submit" value="Vote">
                </form>

            </div>

         </div>

           
           <hr style="margin-top: 80px ; border-color: rgba(255, 255, 255, 0.192) ; border-width: 1px ; width: 90% ; margin-bottom: 50px; ">


           <h2 style="color: white; margin-left: 80px ;">Candidate : 2 </h2>

           <div id="cd1">

           

           <div id="c1">
        
            <div id="cid">

                <img src="{{url_for('static',filename='images/profile3.png')}}" width="100px" height="100px" >

            </div>
            <hr style="margin-top: 30px ; border-color: rgba(255, 255, 255, 0.192) ; border-width: 1px ; width: 80% ; margin-bottom: 20px ;">


            <p id="it">Name  <span style="color: rgba(255, 255, 255, 0);">..</span>: AISHA GUPTA A </p>
            <p id="it">Age <span style="color: rgba(255, 255, 255, 0);">...</span>: 40 </p>
            <p id="it">Gender : Female</p>
            <p id="it">State <span style="color: rgba(255, 255, 255, 0);">.</span>:  Maharashtra</p>


           </div>

           <p id="ttext">Political Experience:<br><br>
            Elected as Mayor of a major city, demonstrating executive leadership skills.
            Actively involved in grassroots politics and community development initiatives.
            <br><br>
            Administrative Experience:<br><br>
            Oversaw urban development projects, including infrastructure upgrades and environmental conservation efforts.
            Managed municipal budgets and resources effectively to meet the needs of residents.
            <br><br>
            Educational Background:
            <br><br>
            Holds a degree in Urban Planning and Public Policy from a prestigious institution.
            Completed training programs in sustainable development and urban governance.</p>

        </div>

         <div id="linkbox">
            
            <div id="link">

                <h3 id="it" style="text-align: left; padding-top: 5px  ; text-align: center;">Click! The Vote Button To Vote </h3>


            </div>

            <div id="lb">

                <form action="/c2" method="post">           
                    <input id="button" type="submit" value="Vote">
                </form>

            </div>

         </div>

           
           <hr style="margin-top: 80px ; border-color: rgba(255, 255, 255, 0.192) ; border-width: 1px ; width: 90% ; margin-bottom: 50px ; ">



           <h2 style="color: white; margin-left: 80px ;">Candidate : 3 </h2>

           <div id="cd1">

           

           <div id="c1">
        
            <div id="cid">

                <img src="{{url_for('static',filename='images/profile3.png')}}" width="100px" height="100px" >

            </div>
            <hr style="margin-top: 30px ; border-color: rgba(255, 255, 255, 0.192) ; border-width: 1px ; width: 80% ; margin-bottom: 20px ;">


            <p id="it">Name  <span style="color: rgba(255, 255, 255, 0);">..</span>: ARJUN SHARMA S</p>
            <p id="it">Age <span style="color: rgba(255, 255, 255, 0);">...</span>: 45 </p>
            <p id="it">Gender : Male</p>
            <p id="it">State <span style="color: rgba(255, 255, 255, 0);">.</span>: Himachal Pradesh </p>


           </div>

           <p id="ttext">Political Experience:<br><br>
            Elected as a Member of Parliament (MP) from a rural constituency, representing agricultural interests.
            Actively engaged in farmer movements and advocacy for rural development.
            <br><br>
            Administrative Experience:<br><br>
            Served as a member of parliamentary committees focusing on agriculture and rural affairs.
            Implemented grassroots development projects to improve infrastructure and access to basic amenities in rural areas.
            <br><br>
            Educational Background:<br><br>
            Holds a degree in Agricultural Science with a specialization in rural economics.
            Participated in training programs on sustainable farming practices and agricultural policy.
            </p>

        </div>

         <div id="linkbox">
            
            <div id="link">

                <h3 id="it" style="text-align: left; padding-top: 5px  ; text-align: center;">Click! The Vote Button To Vote </h3>


            </div>

            <div id="lb">

                <form action="/c3" method="post">           
                    <input id="button" type="submit" value="Vote">
                </form>

            </div>

         </div>

           

           <hr style="margin-top: 80px ; border-color: rgba(255, 255, 255, 0.192) ; border-width: 1px ; width: 90% ; margin-bottom: 50px ; ">



           <h2 style="color: white; margin-left: 80px ;">Candidate : 4 </h2>

           <div id="cd1">

           

           <div id="c1">
        
            <div id="cid">

                <img src="{{url_for('static',filename='images/profile3.png')}}" width="100px" height="100px" >

            </div>
            <hr style="margin-top: 30px ; border-color: rgba(255, 255, 255, 0.192) ; border-width: 1px ; width: 80% ; margin-bottom: 20px ;">


            <p id="it">Name  <span style="color: rgba(255, 255, 255, 0);">..</span>: ANANYA SINGH A</p>
            <p id="it">Age <span style="color: rgba(255, 255, 255, 0);">...</span>: 34 </p>
            <p id="it">Gender : Female</p>
            <p id="it">State <span style="color: rgba(255, 255, 255, 0);">.</span>: Bihar </p>


           </div>

           <p id="ttext">Political Experience:<br><br>
            Elected as a Member of Parliament (MP) from a cosmopolitan urban constituency, reflecting diverse demographics.
            Actively involved in urban governance and municipal affairs.
            <br><br>
            Administrative Experience:<br><br>
            Served as a city councilor, overseeing urban planning and development projects.
            Implemented initiatives to improve public services, including sanitation, transportation, and healthcare.
            <br><br>
            Educational Background:<br><br>
            Holds a degree in Civil Engineering with a focus on urban infrastructure and sustainable development.
            Participated in workshops and seminars on smart city initiatives and urban governance.</p>

        </div>

         <div id="linkbox">
            
            <div id="link">

                <h3 id="it" style="text-align: left; padding-top: 5px  ; text-align: center;">Click! The Vote Button To Vote </h3>


            </div>

            <div id="lb">

                <form action="/c4" method="post">           
                    <input id="button" type="submit" value="Vote">
                </form>

            </div>

         </div>

           
         <hr style="margin-top: 80px ; border-color: rgba(255, 255, 255, 0.192) ; border-width: 1px ; width: 90% ; margin-bottom: 50px ; ">



         <h2 style="color: white; margin-left: 80px ;">Candidate : 5 </h2>

         <div id="cd1">

         

         <div id="c1">
      
          <div id="cid">

              <img src="{{url_for('static',filename='images/profile3.png')}}" width="100px" height="100px" >

          </div>

          <hr style="margin-top: 30px ; border-color: rgba(255, 255, 255, 0.192) ; border-width: 1px ; width: 80% ; margin-bottom: 20px ;">


          <p id="it">Name  <span style="color: rgba(255, 255, 255, 0);">..</span>: ADITYA  G</p>
          <p id="it">Age <span style="color: rgba(255, 255, 255, 0);">...</span>: 51 </p>
          <p id="it">Gender : Male</p>
          <p id="it">State <span style="color: rgba(255, 255, 255, 0);">.</span>: Gujarat </p>


         </div>

         <p id="ttext">Political Experience:<br><br>
            Served as a Member of Parliament (MP) representing a border state with strategic importance.
            Actively engaged in national security and defense policy discussions.
            <br><br>
            Administrative Experience:<br><br>
            Held positions in defense and security committees, overseeing defense procurement and strategic planning.
            Collaborated with military and intelligence agencies to address security challenges.
            <br><br>
            Educational Background:<br><br>
            Holds a degree in International Relations with a specialization in strategic studies.
            Completed advanced courses in national security and defense management.</p>

      </div>

       <div id="linkbox">
          
          <div id="link">

              <h3 id="it" style="text-align: left; padding-top: 5px  ; text-align: center;">Click! The Vote Button To Vote 
              </h3>


          </div>

          <div id="lb">

              <form action="/c5" method="post">           
                  <input id="button" type="submit" value="Vote">
              </form>

          </div>

       </div>

         
       <hr style="margin-top: 80px ; border-color: rgba(255, 255, 255, 0.192) ; border-width: 1px ; width: 90% ; margin-bottom: 50px ; ">



       <h2 style="color: white; margin-left: 80px ;">Candidate : 6 </h2>

       <div id="cd1">

       

       <div id="c1">
    
        <div id="cid">

            <img src="{{url_for('static',filename='images/profile3.png')}}" width="100px" height="100px" >

        </div>
        <hr style="margin-top: 30px ; border-color: rgba(255, 255, 255, 0.192) ; border-width: 1px ; width: 80% ; margin-bottom: 20px ;">


        <p id="it">Name  <span style="color: rgba(255, 255, 255, 0);">..</span>: MEERA REDDY M</p>
        <p id="it">Age <span style="color: rgba(255, 255, 255, 0);">...</span>: 55 </p>
        <p id="it">Gender : Female</p>
        <p id="it">State <span style="color: rgba(255, 255, 255, 0);">.</span>: Telangana </p>


       </div>

       <p id="ttext">Political Experience:<br><br>
        Elected as a Member of Parliament (MP) representing an urban constituency with a focus on economic development.
        Actively engaged in parliamentary debates on economic policy, trade, and industry.
        <br><br>
        Administrative Experience:<br><br>
        Served on committees focusing on finance, commerce, and industrial development.
        Spearheaded initiatives to attract investment, promote entrepreneurship, and create job opportunities.
        <br><br>
        Educational Background:<br><br>
        Holds a degree in Economics with a specialization in macroeconomic policy.
        </p>

    </div>

     <div id="linkbox">
        
        <div id="link">

            <h3 id="it" style="text-align: left; padding-top: 5px  ; text-align: center;">Click! The Vote Button To Vote </h3>


        </div>

        <div id="lb">

            <form action="/c6" method="post">           
                <input id="button" type="submit" value="Vote">
            </form>

        </div>

     </div>

       
     <hr style="margin-top: 80px ; border-color: rgba(255, 255, 255, 0.192) ; border-width: 1px ; width: 90% ; margin-bottom: 50px ; ">



     <h2 style="color: white; margin-left: 80px ;">Nota </h2>

     <div id="linkbox">
        
        <div id="link">

            <h3 id="it" style="text-align: left; padding-top: 5px  ; text-align: center;">Click! The Vote Button To Vote Nota </h3>


        </div>

        <div id="lb">

            <form action="/nota" method="post">           
                <input id="button" type="submit" value="Vote">
            </form>

        </div>
     
     <hr style="margin-top: 80px ; border-color: rgba(255, 255, 255, 0.192) ; border-width: 1px ; width: 100% ; ">


     <h2 id="it" style="margin-top: 30px ; margin-left: 10%;">"Thank you for taking the time to visit Online Voting System website!"</h2>




    </div>


   
    
</body>
</html>